<html>
<head>
	<meta charset="UTF-8">
	<title>Сервис аналитики жилой недвижимости</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./1.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
	<body>
		<header>
		  <nav>
			<div class="logo-box">
				<h1 class="logo">
					<a href="{{ url_for('templates', filename='1.html') }}">
					<img width="65" height="65" src="{{ url_for('images', filename='./logo5.png') }}">
					</a>
				</h1>
				<p class="name">Сервис аналитики жилой недвижимости</p>
			</div>
			<ul>
			  <li><a href="2.html">Оценка стоимости</a></li>
			  <li><a href="3.html">Аналитические графики</a></li>

		   </ul>
		  </nav>
		</header>
		<div class="text-block">
			<h4>Оценка стоимости жилой недвижимости с помощью модели машинного обучения</h4>
			<p>На сайте представлена система оценки стоимости жилой недвижимости, которая, проанализировав объявления в интернете, может оценивать их реальную стоимость на основе введенных параметров.</p>
		<div>
  </body>
</html>
