<html>
<head>
	<meta charset="UTF-8">
	<title>Аналитические графики</title>
	<link rel='StyleSheet' type='text/css' href='../static/3.css'/>
</head>
	<body>
				<header>
		  <nav>
			<div class="logo-box">
			  <h1 class="logo">
				<a href="{{ url_for('home')}}">
				  <img width="65" height="65" src="../static/logo5.png">
				</a>
			  </h1>
				<p class="name">Сервис аналитики жилой недвижимости</p>
			</div>
			<ul>
			  <li><a href="{{ url_for('home')}}">Главная</a></li>
			  <li><a href="{{ url_for('predict_page')}}">Оценка стоимости</a></li>

		   </ul>
		  </nav>
		</header>
		<details>
			<summary>Средняя стоимость квадратного метра по округам</summary>
			<p>Самая высокая стоимость - в ЦАО, более 700 тысяч рублей за квадратный метр. Самая низкая - в ЮВАЮ, чуть более 200 тысяч рублей. </p>
			<img src="../static/1.png" width="1037" height="735" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ВАО)</summary>
			<p>Будет добавлено позднее</p>
			<img src="../static/Средняя стоимость ВАО.png" width="610" height="610" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЗАО)</summary>
			<p>Будет добавлено позднее</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (САО)</summary>
			<p>Будет добавлено позднее</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (СВАО)</summary>
			<p>Будет добавлено позднее</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (СЗАО)</summary>
			<p>Будет добавлено позднее</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЦАО)</summary>
			<p>Будет добавлено позднее</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЮАО)</summary>
			<p>Будет добавлено позднее</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЮВАО)</summary>
			<p>Будет добавлено позднее</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЮЗАО)</summary>
			<p>Будет добавлено позднее</p>
		</details>
