<html>
<head>
	<meta charset="UTF-8">
	<title>Аналитические графики</title>
	<link rel='StyleSheet' type='text/css' href='3.css'/>
</head>
	<body>
				<header>
		  <nav>
			<div class="logo-box">
			  <h1 class="logo">
				<a href="1.html">
				  <img width="65" height="65" src="images/logo5.png">
				</a>
			  </h1>
				<p class="name">Сервис аналитики жилой недвижимости</p>
			</div>
			<ul>
			  <li><a href="1.html">Главная</a></li>
			  <li><a href="2.html">Оценка стоимости</a></li>

		   </ul>
		  </nav>
		</header>
		<details>
			<summary>Средняя стоимость квадратного метра по округам</summary>
			<p>Самая высокая стоимость - в ЦАО, более 700 тысяч рублей за квадратный метр. Самая низкая - в ЮВАЮ, чуть более 200 тысяч рублей. </p>
			<img src="images/graf1.jpg" width="610" height="610" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя площадь квартир по округам</summary>
			<p><b>Скандинавская мифология</b> — мифология древних скандинавов, часть древнегерманской мифологии.<br>
				Основным источником сведений о ней являются тексты поэтической <b>«Старшей Эдды»</b> и прозаической <b>«Младшей Эдды» С. Стурлусона XII века н. э.</b><br>
				Примерно в то же время датский хронист Саксон Грамматик в <b>«Деяниях датчан»</b> передаёт многие мифологические сюжеты. Ценные сведения о <br>древнегерманской мифологии имеются в <b>«Германии» Тацита</b>.</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ВАО)</summary>
			<p>Скандинавская мифология — мифология древних скандинавов, часть древнегерманской мифологии.</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЗАО)</summary>
			<p>Скандинавская мифология — мифология древних скандинавов, часть древнегерманской мифологии.</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (САО)</summary>
			<p>Скандинавская мифология — мифология древних скандинавов, часть древнегерманской мифологии.</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (СВАО)</summary>
			<p>Скандинавская мифология — мифология древних скандинавов, часть древнегерманской мифологии.</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (СЗАО)</summary>
			<p>Скандинавская мифология — мифология древних скандинавов, часть древнегерманской мифологии.</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЦАО)</summary>
			<p>Скандинавская мифология — мифология древних скандинавов, часть древнегерманской мифологии.</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЮАО)</summary>
			<p>Скандинавская мифология — мифология древних скандинавов, часть древнегерманской мифологии.</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЮВАО)</summary>
			<p>Скандинавская мифология — мифология древних скандинавов, часть древнегерманской мифологии.</p>
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЮЗАО)</summary>
			<p>Скандинавская мифология — мифология древних скандинавов, часть древнегерманской мифологии.</p>
		</details>
