<html>
<head>
	<meta charset="UTF-8">
	<title>Аналитические графики</title>
	<link rel='StyleSheet' type='text/css' href='../static/3.css'/>
</head>
	<body>
				<header>
		  <nav>
			<div class="logo-box">
			  <h1 class="logo">
				<a href="{{ url_for('home')}}">
				  <img width="65" height="65" src="../static/logo5.png">
				</a>
			  </h1>
				<p class="name">Сервис аналитики жилой недвижимости</p>
			</div>
			<ul>
			  <li><a href="{{ url_for('home')}}">Главная</a></li>
			  <li><a href="{{ url_for('predict_page')}}">Оценка стоимости</a></li>

		   </ul>
		  </nav>
		</header>
		<details>
			<summary>Средняя стоимость квадратного метра по округам</summary>
			<p>Самая высокая стоимость - в ЦАО, более 700 тысяч рублей за квадратный метр. Самая низкая - в ЮВАЮ, чуть более 200 тысяч рублей. </p>
			<img src="../static/1.png" width="80%" height="45%" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра в зависимости от количества комнат</summary>
			<p>Будет добавлено позднее</p>
			<img src="../static/Средняя стоимость по комнатам.png" width="70%" height="45%" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя этажность домов по округам</summary>
			<p>Будет добавлено позднее</p>
			<img src="../static/Средняя этажность.png" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ВАО)</summary>
			<p>Будет добавлено позднее</p>
			<img src="../static/Средняя стоимость ВАО.png" width="1419" height="800" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЗАО)</summary>
			<p>Будет добавлено позднее</p>
			<img src="../static/Средняя стоимость ЗАО.png" width="1418" height="801" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (САО)</summary>
			<p>Будет добавлено позднее</p>
			<img src="../static/Средняя стоимость САО.png" width="1429" height="803" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (СВАО)</summary>
			<p>Будет добавлено позднее</p>
			<img src="../static/Средняя стоимость СВАО.png" width="1421" height="804" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (СЗАО)</summary>
			<p>Будет добавлено позднее</p>
			<img src="../static/Средняя стоимость СЗАО.png" width="1424" height="804" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЦАО)</summary>
			<p>Будет добавлено позднее</p>
			<img src="../static/Средняя стоимость ЦАО.png" width="1410" height="802" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЮАО)</summary>
			<p>Будет добавлено позднее</p>
			<img src="../static/Средняя стоимость ЮАО.png" width="1417" height="803" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЮВАО)</summary>
			<p>Будет добавлено позднее</p>
			<img src="../static/Средняя стоимость ЮВАО.png" width="1418" height="807" alt="Ошибка загрузки">
		</details>
		<details>
			<summary>Средняя стоимость квадратного метра по районам (ЮЗАО)</summary>
			<p>Будет добавлено позднее</p>
			<img src="../static/Средняя стоимость ЮЗАО.png" width="1416" height="803" alt="Ошибка загрузки">
		</details>
